
.mypage__list {
    width: 80%;
    display: flex;
    margin: auto;
    padding-top: 100px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.mypage__title {
    margin: auto;
    font-size: 20px;
}

.order__table {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.order__tablehead {
    
}

.order__tablerow {
    display: flex;
    font-size: 20px;
    padding: 10px;
    border-top: 2px solid black;
    border-bottom: 1px solid black;
    margin-bottom : 2px;

}

.order__tablerow th{
    display: flex;
    margin:auto;
    padding: 10px;
    width: 12.5%;
}

.order__tablerow td{
    display: flex;
    margin:auto;
    padding: 10px;
    width: 12.5%;
}

.order__tablerow .order__tablerow__item {
    display: flex;
    width: 50%;
}

.cart__table {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.cart__tablehead {
   
}

.cart__tablerow {
    display: flex;
    padding: 10px;
    font-size: 20px;
    border-top: 2px solid black;
    border-bottom: 1px solid black;
}

.cart__tablerow .cart__tablerow__item { 
    width: 50%;
}
.cart__tablerow th{
    display: flex;
    margin:auto;
    padding: 10px;
    width: 12.5%;
}

.cart__tablerow td{
    display: flex;
    margin:auto;
    padding: 10px;
    width: 12.5%;
}

.qna__table {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.qna__tablehead .qna__tablerow__title{
    width: 20%;
}

.qna__tablehead .qna__tablerow__content{
    width: 30%;
}

.qna__tablerow {
    display: flex;
    font-size: 20px;
    padding: 10px;
    border-top: 2px solid black;
    border-bottom: 1px solid black;
}

.qna__tablerow th{
    display: flex;
    margin:auto;
    padding: 10px;
}

.qna__tablerow td{
    display: flex;
    margin:auto;
    padding: 10px;
}